body {
  margin: 0;
  font-family: "Questrial", sans-serif;
  color: #210f04;
  background-color: #dad7cd;
}

.loginBox {
  border-radius: 0.25rem;
  margin: 1rem;
}

.loginIntro {
  margin-left: 2rem;
  font-family: "Source Serif Pro", serif;
}
.loginSection {
  background-color: #a3b18a;
  font-family: "Source Serif Pro", serif;
  justify-content: center;
  max-width: 45rem;
  max-height: inherit;
  margin: auto;
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 3rem;
}

.loginSection h2 {
  text-align: center;
}

.loginSection h3 {
  text-align: center;
}

.loginSection input {
  justify-content: center;
  margin: auto;
}
.loginInput input {
  margin: 1rem;
  justify-content: center;
}

.loginButton {
  margin-left: 2.5rem;
  margin-top: 1rem;
  background-color: #dad7cd;
}

.interface1 {
  margin-left: 2rem;
}

.mainPageLogin {
  background-color: #dad7cd;
  border-radius: 0.5rem;
  height: 2rem;
  width: 8rem;
  font-size: 0.85rem;
  border: 0.25rem solid #3a5a40;
  margin: auto;
  justify-content: center;
  margin-bottom: 3rem;
  position: absolute;
  left: 47%;
}
.mainPageLogin a {
  text-decoration: none;
  color: #3a5a40;
}

.mainPageLogin a:hover {
  background-color: #3a5a40;
  color: #dad7cd;
}

.mainPageLogin:visited {
  color: #dad7cd;
  text-decoration: none;
}

.accountCreated {
  margin-left: 2rem;
}
.accountCreation {
  background-color: #3a5a40;

  margin: auto;
  justify-content: center;
  padding: 2rem;
  margin: 5rem 15rem;
  border-radius: 1rem;
}
.accountCreation h2 {
  color: #dad7cd;
}
.accountForm {
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.accountCreation label {
  color: #dad7cd;
  padding: 0.25rem;
  max-width: 5rem;
}

.accountCreation input {
  max-width: 20rem;
}

.signUpButton {
  background-color: #dad7cd;
  margin-top: 1rem;
}
.signUpButton:hover {
  background-color: #a3b18a;
  color: #dad7cd;
}
