.dailyQuiz{
  font-size: 2.5rem;
  margin-left: 1rem;
}
.quiz{
  background-color: #A3B18A;
  width: 50rem;
height: 23rem;
  padding: 2rem;
  margin: auto;
  border-radius: 1rem;
  border: .25rem solid #3A5A40;
}

.quizIntro{
  font-size: 1.5rem;
  margin-left: 3rem;
}
.question{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.answers{
  display: block;
  margin-left: 2rem;
  margin: auto;
  align-content: center; 
  grid-template-rows: auto auto auto auto;
}
.answer{
  margin: 1rem;
  font-size: 1.9rem;
}


.answer:hover{
font-size: 2.5rem;
color: #DAD7CD;

}

.quizSection h4{
  margin-left: 1.5rem;
  font-size: 1.5rem;
}
.quizSection h3{
  margin-left: 2rem;
}
.quizAnswers{
  margin-left: 2rem;
  margin-bottom: 1rem;
  background-color: #A3B18A;
  border-radius: 1rem;
  border: .25rem solid #3A5A40;
  width: 75rem;

}
.answerQuestion{
  font-size: 1.5rem;
}
.answerText{
  margin-left: 4rem;
  font-size: 1.5rem;
}
.quizAlert{
  margin-left: 4rem;
  color:#3A5A40;
  font-size: 32px;
}

.score{
  background-color: #DAD7CD;
  border: .25rem solid #3A5A40;
  border-radius: 1rem;
  width: 30rem;
  margin-left: 2rem;
}